

.body {
    margin: 0 ;
    
}
.wrapper {
   
    margin: 0 ;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem 3.5rem 6.8rem;
    background: #EDF2EC;
}

.header-block{
    padding-top: 0.5rem;
}

.header-logo {
    padding-bottom: 0.5rem;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
    color: #000000;
}
.navigation{
    display: flex;
}

.nav-link{
    display: flex;
    font-style: normal;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 1rem;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
    padding-left: 46px;
}
.nav-link:hover{
    color: #E06733;
    transition: 0.3s;
    font-weight: 700;
}
/* __________________________________________________________________________________END HEADER BLOCK */
/* WELCOME BLOCK START _______________________________________________________________________________*/

.welcome {
    background: #EDF2EC;
}

.welcome__wrapper {
    display: flex;
    padding: 2.2rem 6.88rem 3.6875rem 6.2125rem;
    justify-content: space-between;
}

.welcome_block {
    max-width: 549px;
    padding-top: 3.1rem;
}
.welcome_img{
    max-width: 462px;
}

.block__titel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.813rem;
    line-height: 3.125rem;
    padding-bottom: 2.688rem;
    color: #636060;
}

.block__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 35px;
    color: #636060;
    padding-bottom: 47px;
}

.button {
    padding: 0.625rem 1.625rem 0.625rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    border: 2px solid #E06733;
    border-radius: 0.625rem;
    text-align: center;
}

.button:hover {
    background-color: #E06733;
    color: #FFFFFF;
    transition: 0.3;
}

/* _______________________________________________________________________________WELCOME BLOCK END */
/* START ABOUT BLOCK _______________________________________________________________________________*/
.About__wrapper {
    display: flex;
    padding: 92px 100px 96px 109px;
    justify-content: space-between;
}

.About__block {
    width: 605px;
    height: 350px;
    margin-top: 68px;
}

.titel__block {
    max-width: 463px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-bottom: 37px;
}

.text__block {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;   
}

.green {

    color: #499A18;
}
/* _____________________________________________________________________________END ABOUT BLOCK */
/* START BLOCK SERVICE__________________________________________________________________________*/


.service__wrapper{
    padding-bottom: 67px;
}
.service{
    background: #EDF2EC;
}

.service__block {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-left: 109px;
}

.service_block__titel {
    width: 304px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-right: 100px;
}

.service__buttons {
    display: flex;
    position: relative;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    margin-left: 42px;
}

.btn {
    color:#E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-right: 38px;
    align-items: center;
    height: 50px;
    width: 161px;
}
.btn:last-child{
    margin-right: 0px;
}

.service_block__img{
   display: flex;
   flex-wrap: wrap;
   padding-top: 78px;
}

.service__item{
    
    margin-left: 109px;
    margin-right: 6px;
    padding-bottom: 55px;
}

.service__img{
    height: 350px;
    width: 330px;  
}

.border__img{
    margin-top: -4px;
    margin-left: 1px;
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;  
}

.service_titel_im{
    padding-top: 8px;
    padding-right: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    text-align: center;
}

.service_text_im{
    padding-top: 14px;
    padding-right: 3px;
    color: #717171;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

/* ______________________________________________________________________END BLOCK SERVICE */

/* PRICE BLOCK START_______________________________________________________________________*/

.Prices__wrapper{
    padding: 38px 109px 115px 109px;
    display: flex;
    justify-content: space-between;
}

.Price_block__text{
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 61px;
}

.accordion__item{
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 0px 41px 0px 41px;
    width: 332px;
    height: 282px;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-top: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    color: #000000;
    background: #EDF2EC;
    border-radius: 20px;
    padding-left: 39px;
}

.acordion_img{ 
    padding-right: 40px;
}

.btn1{
    color:#E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 290px;
}
.btn:hover{
    color: #D6E7D2;
    background-color: #E06733;
    transition: 0.3;
}
.Price_right__block{
    width: 470px;
    height: 405px;
}

.Price__button{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    margin-left: 308px;
}

/* .panel{
    position: relative;
    width: 332px;
    height: 282.01px;
    margin-top: 38px;
    left: 370px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 80px;
} */


/* .active, .acordion_img:hover{
    color: #8BA07E;
    transform: rotate(180deg);
} */

.right_block_titel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    margin-bottom: 40px;
}
.price_leafs_img{
    padding: 35px 0px 0px 309px;
}
/* _____________________________________________________________________PRICES BLOCK END */
/* BLOCK CONTACT START___________________________________________________________________*/

.contacts {
    background: #EDF2EC;
}
.contact_wrapper {
display: flex;
max-height: 570px;
}

.contact_us{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 60px 0px 0px 110px;
}

.contact_img {
    background-image: url(../img/contact_woman\ 1.png);
    width: 400px;
    height: 497px;
    margin: 53px 0px 0px 109px;
    padding-top: 10px;
}
.contact_container {
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    height: 50px;
    width: 450px;
    margin: 150px 0px 0px 73px ;
    padding: 5px 0px 0px 18px;
}
.acordion_contact {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #717171;
}
/* CONTACT BLOCK END_______________________________________________ */
/* ______________________________________________FOOTER BLOCK START */

.footer {
    background: #FFFFFF;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 33px 91px 33px 109px;
}
.footer_data_text{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    word-spacing: 14px;
    padding-top: 7px;
    
}
.navigation__links{
    display: flex;
}
.footer-navigation__links{
    padding-top: 16px;
}

.footer_scopes_text{
  padding: 7px 0px 0px 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

.footer_nav {
    display: flex;
   
}
.footer_img {
    padding-right: 20px;
}