$color-brand: #FF9900;
$color-background: #FFEEE1;
$color-link: #1943ef;
$color-tag: #f5f5f5;
$color-text: #544837;
$color_border: #D7D7D7;
$color-light: #ffffff;
$color-additional: #FF7549;
$color-hovered: #BCD0E5;








$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-width: 380px;
